body{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    background-color: #F4F9F9;
}

.container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
}

.uk{
    display: block;
}

.arrows{
    margin-right: 20px;
}

.up{
    rotate: 180deg;
}

.pl{
    display: block;
}

.flag{
    height: 20px;
    width: 20px;
}

input{
    height: 40px;
    width: 300px;
    margin: 10px;
    font-size: 1rem;
}

.disappear{
   display: none;
}
/* .invalid{
    color: red;
    margin-right: 150px;
    margin-top: -24px;
}

.warning{
    margin-right: 270px;
    margin-top: 0px;
    width: 16px;
    height: 16px;
} */